.App {
  text-align: center;
}
.Header-container {
  background-color: #cacaca;
  
}
.Header-tittle {
  font-size: calc(20px + 4vmin);
  font-weight: bold;
  padding: 1%;
  color: #2c2c2c;
}

.Footer-container {
  background-color: #cacaca;
  margin-top: .5rem;
  position:static;
}

.Footer-tittle {
  font-size: calc(5px + 1vmin);
  font-weight: bold;
  padding: 1%;
}

.main-container {
  display: flex;
  background-color: #cacaca;
  margin-top: .5rem;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
}

.content-title {
  
  font-size: calc(8px + 3vmin);
}

.input-container {
  font-size: calc(5px + 1vmin);
  font-weight: bold;
  padding: 1%;
}

.alert {
  font-size: calc(5px + 1vmin);
  font-weight: bold;
  padding: 1%;
  background-color: rgb(241, 208, 99);
}

.input-date {
  padding: 12px 24px;
  margin: 8px 0;
  box-sizing: border-box;
  background-image: url('https://www.iconpacks.net/icons/1/free-calendar-icon-865-thumb.png');
  background-size: 30px 25px;
  background-position: 11rem .4rem;
  background-repeat: no-repeat;
}

.description {
  padding: 1.5rem 1.5rem;
  font-size: calc(10px + 1vmin);
  text-align: justify;
  width: 70vmin;

}

.image-container {
  padding: 1.5rem 1.5rem;
  width: 70vmin;
}

.image-nasa{
  width: 70vmin;
  height: 50vmin;
}
