header{
  background-color: white;
  color: midnightblue;
}

.apod{
  height: 88vh;
  width: 100wh;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  color: white;
}

h2{
   padding: 0.2em;
   text-align: center;
   font-size: 3em !important;    
   background-color: rgba(255, 255, 255, .6);  
   border-radius: 5px;
   color: black;
}

article{
  width: 50%;
  align-self: end;
  margin-top: 1em;
  padding: 2em;
  background-color: rgba(255, 255, 255, .6);  
  border-radius: 5px;
  color: black;
  font-size: 1.1em;
}

footer{
  padding: .5em;
  height: 5vh;
  background-color: black;
  color: #fff;
}